  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d59d32;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(254, 254, 254);
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {background-color: #826531;}
  
  .dropdown:hover .dropdown-content {display: block;}